body,
main {
  min-block-size: 100dvb;
}

main {
  display: grid;
  place-content: center;
  background-color: hsl(235deg, 18%, 26%);
}
main .card {
  display: flex;
  flex-direction: row;
  gap: 30px;
  border-radius: 25px;
  padding: 20px;
  background-color: hsl(0deg, 0%, 100%);
}
main .card span,
main .card button,
main .card input,
main .card label {
  font-family: "Roboto";
}
main .card .hidden {
  display: none;
}
main .card .infoColumn {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  justify-content: center;
  max-width: 400px;
  flex-shrink: 3;
}
main .card .infoColumn .infoSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .card .infoColumn .infoSection .infoHeader {
  font-size: 3.125rem;
  font-weight: 700;
}
main .card .infoColumn .infoSection .updateMatrix {
  display: grid;
  grid-template-columns: 22px auto;
  gap: 10px;
}
main .card .infoColumn .infoSection .updateMatrix .tickIcon {
  background: url("../images/icon-list.svg");
  background-repeat: no-repeat;
  height: 22px;
  width: 22px;
}
main .card .infoColumn .formSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
main .card .infoColumn .formSection .inputWrapper .emailLabel {
  font-size: 0.75rem;
  font-weight: 700;
}
main .card .infoColumn .formSection .inputWrapper .emailError {
  float: right;
  font-size: 0.75rem;
}
main .card .infoColumn .formSection .inputWrapper .emailInput {
  width: 100%;
  margin-top: 6px;
  border-radius: 5px;
  height: 50px;
  text-indent: 20px;
  color: hsl(231deg, 7%, 60%);
  border: 1px solid hsl(231deg, 7%, 60%);
  padding: 0;
}
main .card .infoColumn .formSection .subscribeBtn {
  width: 100%;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: hsl(234deg, 29%, 20%);
  color: hsl(0deg, 0%, 100%);
  font-weight: 400;
  border: 1px solid transparent;
}
main .card .imgColumn {
  height: 600px;
  width: 400px;
}
main .card .imgColumn .signupImg {
  background: url("../images/illustration-sign-up-desktop.svg");
  background-repeat: no-repeat;
  border-radius: 15px;
  height: 100%;
  width: 100%;
}

@media (max-width: 767px) {
  main .card {
    gap: 15px;
  }
  main .card .infoColumn {
    padding: 0;
  }
}
@media (max-width: 660px) {
  main .card {
    gap: 0;
  }
  main .card .imgColumn {
    width: 0;
  }
  main .card .imgColumn .signupImg {
    display: none;
  }
}
@media (max-width: 375px) {
  main .card {
    flex-direction: column-reverse;
    gap: 35px;
    width: 100%;
    height: 100%;
    padding: 0;
    border-radius: 0;
  }
  main .card .infoColumn {
    padding: 0 20px 35px;
    gap: 35px;
  }
  main .card .infoColumn .infoSection {
    padding: 0;
    gap: 25px;
  }
  main .card .infoColumn .infoSection .infoHeader {
    font-size: 2.5rem;
  }
  main .card .infoColumn .infoSection .updateMatrix {
    gap: 15px;
  }
  main .card .infoColumn .infoSection .updateMatrix .infoParagraph {
    line-height: 25px;
  }
  main .card .imgColumn {
    width: 100%;
    height: 280px;
  }
  main .card .imgColumn .signupImg {
    display: block;
    background-image: url("../images/illustration-sign-up-mobile.svg");
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

/*# sourceMappingURL=index.css.map */
