@import "./variables.scss";
@import "./mixins.scss";

body,
main {
    min-block-size: 100dvb;
}

main {
    @include displayGridCenter;
    background-color: $colour-charcoal-grey;

    .card {
        @include displayFlexRow;
        gap: $spacing-lg;
        border-radius: $border-radius-std;
        padding: $spacing-md;
        background-color: $colour-white;

        span,
        button,
        input,
        label {
            font-family: $font-family-roboto;
        }

        .hidden {
            display: none;
        }

        .infoColumn {
            @include displayFlexCol;
            gap: $spacing-lg;
            padding: $spacing-lg;
            justify-content: center;
            max-width: $size-max-width;

            .infoSection {
                @include displayFlexCol;
                gap: $spacing-md;

                .infoHeader {
                    font-size: $font-size-header;
                    font-weight: $font-weight-700;
                }

                .updateMatrix {
                    @include displayGrid;

                    .tickIcon {
                        background: $icon-list;
                        background-repeat: no-repeat;
                        height: $size-icon;
                        width: $size-icon;
                    }
                }
            }

            .formSection {
                @include displayFlexCol;
                gap: $spacing-md;

                .inputWrapper {

                    .emailLabel {
                        font-size: $font-size-input-label;
                        font-weight: $font-weight-700;
                    }

                    .emailError {
                        //Move to more generic area.
                        float: right;
                        font-size: $font-size-input-label;
                    }

                    .emailInput {
                        width: $size-full-parent;
                        margin-top: $spacing-xs;
                        border-radius: $border-radius-input;
                        height: $size-input-height;
                        text-indent: $spacing-md;
                        color: $colour-grey;
                        border: 1px solid $colour-grey;
                        padding: 0;
                    }
                }

                .subscribeBtn {
                    width: $size-full-parent;
                    height: $size-button-height + 5px;
                    border-radius: $border-radius-input;
                    border: none;
                    background-color: $colour-dark-slate-grey;
                    color: $colour-white;
                    font-weight: $font-weight-400;
                    border: 1px solid transparent;
                }
            }

        }

        .imgColumn .signupImg {
            background: $img-signup-desktop;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: $border-radius-sm;
            height: 600px;
            width: $size-max-width;
        }

    }
}