$page-break-mobile: 375px;
$page-break-desktop: 1440px;

$colour-tomato: hsl(4, 100%, 67%);
$colour-dark-slate-grey: hsl(234, 29%, 20%);
$colour-charcoal-grey: hsl(235, 18%, 26%);
$colour-grey: hsl(231, 7%, 60%);
$colour-white: hsl(0, 0%, 100%);

$font-size-paragraph: 1rem;
$font-family-roboto: "Roboto";
$font-weight-400: 400;
$font-weight-700: 700;

$spacing-md: 20px;

$border-radius-std: 25px;